[Unit]
Description=TaskPlanner
After=network.target

[Service]
ExecStart=/usr/bin/node /home/taskplanner/TaskPlanner/Gateway/taskplanner.js

[Install]
WantedBy=multi-user.target
