[Unit]
Description=TaskPlanner
After=network.target

[Service]
ExecStart=/usr/bin/node /home/thomas/Development/taskplanner.js

[Install]
WantedBy=multi-user.target
